/********** Базовые стили **********/
*,
*:before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-width: 320px;
    color: #333333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    padding: 80px 0 100px 0;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.4;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;

    margin-bottom: 60px;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

p {
    line-height: 1.4;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.col-4 {
    width: 30.37%;
    margin: 0 1.315%;
}

.col-6 {
    width: 47.37%;
    margin: 0 1.315%;
}

.col-8 {
    width: 64.037%;
    margin: 0 1.315%;
}

.clear-fix {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.text-green {
    color: #14B487;
}

.text-center {
    text-align: center;
}

.btn-white {
    padding: 15px 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #14B487;
    background-color: #fff;
    border: 2px solid #14B487;
    border-radius: 50px;
}
.btn-white:hover {
    color: #fff;
    background-color: #14B487;
    border-radius: 50px;
    cursor: pointer;
}

.btn-green {
    padding: 15px 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: #14B487;
    border: 2px solid #14B487;
    border-radius: 50px;
}
.btn-green:hover {
    color: #14B487;
    background-color: #F2F1ED;
    border: 2px solid #14B487;
    border-radius: 50px;
    cursor: pointer;
}

/********** Header **********/
.main-header {
    background: url(../img/bgs/header_bg_fhd.jpg) center center/cover no-repeat;
}

.contact-line {
    background-color: #f8f8f8;
    color: #333333;
    font-size: 13px;
}

.contact-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-list li {
    padding: 10px 15px 15px 15px;
}

.contact-list li a {
    color: #333333;
}

.contact-list li span img {
    height: 24px;
    margin-right: 8px;
    position: relative;
    top: 6px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .logo {
    padding-top: 16px;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.nav-menu li {
    margin-left: 20px;
}

nav ul li a {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
nav ul li a::after {
    content: "";
    display: block;
    width: 100%;
    background-color: #333333;
    height: 1px;

    transform: scale(0);
    transition: all .3s;
}

nav ul li a:hover::after {
    transform: scale(1);
}

.main-header-text {
    margin: 0 1.315%;
    padding: 120px 0 230px 0;
}

.main-header-text p {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.5;
}

.main-header-text .more-link {
    display: block;
    font-size: 18px;
    color: #14B487;
    font-weight: bold;
    margin-top: 80px;
}

.main-header-text .more-link span {
    position: relative;
    top: 1px;
}

.main-header-text .more-link:hover {
    color: #FAC300;
}



/********** Services **********/
.section-services {
    background: url(../img/bgs/pattern_bg.jpg) center center/cover no-repeat;
}

.title .logo-divider {
    display: block;
    height: 24px;
    background: url(../img/logo_min.svg) center no-repeat;
}

.title h2 {
    margin-top: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.section-services .row:last-child {
    margin-bottom: 0px;
}

.service-item {
    background: #fff;
    margin: 0 1.315%;

    box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.2), 0px 8px 16px rgba(51, 51, 51, 0.16), 0px 12px 24px rgba(51, 51, 51, 0.1), 0px 16px 32px rgba(51, 51, 51, 0.08);
    
    transition: color .3s linear;
}

/* .service-material {
    background: #fff;
    transition: all .3s linear;
} */

.service-material:hover {
    color: #fff;
    background: url(../img/bgs/img_material.jpg) center center/cover no-repeat;
}

.service-landscape:hover {
    color: #fff;
    background: url(../img/bgs/img_landscape.jpg) center center/cover no-repeat;
}

.service-services:hover {
    color: #fff;
    background: url(../img/bgs/img_service.jpg) center center/cover no-repeat;
}

.service-watering:hover {
    color: #fff;
    background: url(../img/bgs/img_watering.jpg) center center/cover no-repeat;
}

.service-grassing:hover {
    color: #fff;
    background: url(../img/bgs/img_grass.jpg) center center/cover no-repeat;
}

.service-accessiories:hover {
    color: #fff;
    background: url(../img/bgs/img_accessiories.jpg) center center/cover no-repeat;
    height: 240px;
}

.service-item img {
    float: left;
    width: 80px;
    height: 88px;
    margin: 30px 30px 122px 40px;
}

.service-text {
    padding: 40px 70px 50px 150px;
}

.service-text .description {
    margin: 15px 0 50px 0;
}

.service-text .details-btn a {
    color: #14B487;
    font-weight: 700;
    text-transform: uppercase;
}

.service-text .details-btn a:hover {
    color: #FAC300;
    font-weight: 700;
}


.section-stocks {
    position: relative;
    padding: 0;
}

.stock-list {
    display: flex;
    justify-content: flex-start;
}

.stock-item {
    width: 50%;
    height: 300px;
}

.stock-item p {
    padding-left: 50px;
}

.service-grass {
    background: url(../img/bgs/garden_tools.jpg) center center/cover no-repeat;
}

.special-cost {
    background: url(../img/bgs/bush.jpg) center center/cover no-repeat;
}

.stock-title {
    padding: 50px 0 10px 0;
}

.stock-header {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;

    text-shadow: 0px 4px 8px rgba(51, 51, 51, 0.2), 0px 8px 16px rgba(51, 51, 51, 0.16), 0px 12px 24px rgba(51, 51, 51, 0.1), 0px 16px 32px rgba(51, 51, 51, 0.08);
}

.special-cost .stock-subtitle {
    color: #3CC846;
    font-weight: bold;
}

.service-grass .stock-subtitle {
    color: #14B487;
    font-weight: bold;
}

.stock-subtitle {
    padding-bottom: 94px;
}

.more-stocks {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 253px;
    left: 45.5%;
}

.more-stocks a {
    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;

    text-shadow: 0px 4px 8px rgba(51, 51, 51, 0.2), 0px 8px 16px rgba(51, 51, 51, 0.16), 0px 12px 24px rgba(51, 51, 51, 0.1), 0px 16px 32px rgba(51, 51, 51, 0.08);
}

.solutions {
    background: url(../img/bgs/pattern_bg.jpg) center center/cover no-repeat;
}

.set-bg {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 556px;
    box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.2), 0px 8px 16px rgba(51, 51, 51, 0.16), 0px 12px 24px rgba(51, 51, 51, 0.1), 0px 16px 32px rgba(51, 51, 51, 0.08);
    border-radius: 2px;
    margin: 0 1.315%;
}

.set-img {
    padding: 50px 0 70px 50px;
}

.set-img img {
    width: 405px;
    height: 426px;
}

.set-header {
    padding: 15px 0;
    font-family: Rubik;
    font-size: 18px;
    color: #14B487;
}

.set-name {
    font-size: 24px;
    text-transform: uppercase;
}

.set-description {
    padding-top: 25px;
    line-height: 1.6;
}

.set-price {
    color: #14B487;
    font-size: 18px;
    /* font-weight: bold; */
    font-style: italic;
    margin-top: 60px;
    text-align: right;
}

.set-price span {
    font-size: 16px;
}

.slide .btn {
    margin-top: 60px;
}

.section-partner {
    padding: 0;
    margin: 0;
    background: url(../img/bgs/partner_bg.jpg) center center/cover no-repeat;;
}

.partner-header {
    font-size: 36px;
    padding-top: 40px;
}

.section-partner .partner-header {
    margin: 0;
}

.partner-divider {
    margin: 15px auto;
    width: 57px;
    height: 48px;
    background: url(../img/icons/people.svg) center no-repeat;
}

.section-partner > .buttons > .btn {
    margin: 30px 0 40px 0;
}

.gallery-item img {
    width: 330px;
    height: 350px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
    padding: 0 60px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    margin-top: -30px;
    width: 30px;
    height: 50px;
    border: none;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url(../img/icons/arrow_l.svg) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url(../img/icons/arrow_r.svg) 0 0 / 100% no-repeat;
}

.main-footer {
    padding-bottom: 50px;
    display: flex;
}

.main-footer .footer-title {
    padding: 45px 0 15px 0;
}

.main-footer ul li {
    padding-top: 15px;
}

.main-footer ul li a {
    color: #333333;
}

.main-footer .footer-contacts span img {
    height: 24px;
    position: relative;
    top: 6px;
}

.main-footer span {
    margin-right: 8px;
}

.bullit {
    color: #14B487;
    font-weight: bold;
}

.footer-social {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
}

.footer-social li img {
    height: 48px;
    margin-right: 20px;
}
